.home__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

.home__grid section {
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;
}

.home__grid section div:first-child {
    text-align: center;    
    font-size: 1.2rem;
}

.home__grid__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {
    .home__grid {
        flex-direction: row;
    }

    .home__grid section {
        width: 48%;
    }
}
