.contact {
    display: flex;
    flex-direction: column;    
    margin: 8% auto;   
}

.contact > div {    
    flex-direction: column;    
    padding-bottom: 3.2rem;    
}

.contact > div:nth-child(1) > img {
    border-radius: 12px;
    border: 2px solid skyblue;
}

.contact > div:nth-child(2) {
    text-align: center;
}

.contact p {
    font-size: 1.6rem;
}

.contact__span-block {
    margin: 0 0.4rem 0 0.4rem;
}

.contact--icon {
    font-size: 3.2rem;    
}

@media screen and (min-width: 768px) {
    .contact {    
        flex-direction: row;    
        max-width: 800px;
        margin: 4% 22%;   
    }

    .contact__span-block {
        margin-bottom: 2rem;
        text-align: start;
    }    

    .contact > div:nth-child(1) {
        width: 64%;
    } 

    .contact > div:nth-child(2) {
        margin: 24% 0 0 4%;        
    }   
}
